<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication4</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication4.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light px-3">
            <a class="navbar-brand ms-5" href="/">
                <img src="~/images/logo.png" alt="Logo" style="height:70px">
            </a>
            <a class="navbar-brand ms-5 fw-bold" href="/">REGISTRO PU ELECTRONICO</a>
                <ul class="navbar-nav me-auto ms-5 mb-2 mb-lg-0">
                <li class="nav-item ms-6">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item ms-5">
                    <a class="nav-link" href="#">Charts</a>
                </li>
                    <li class="nav-item dropdown ms-5">
                        <a class="nav-link dropdown-toggle" href="#" id="weekDropdown" role="button" data-bs-toggle="dropdown">
                            More
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Records</a></li>
                            <li><a class="dropdown-item" href="#">Print Record</a></li>
                            <li><a class="dropdown-item" href="#">Users</a></li>
                        </ul>
                    </li>
                <li class="nav-item ms-5">
                    <a class="nav-link" href="/Account">Help</a>
                </li>
                <li class="nav-item ms-5">
                    <a class="btn btn-primary" href="/Login">Login</a>
                </li>
                </ul>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3 ">

            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - WebApplication4 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
