@model PUMASTER

@{
    ViewData["Title"] = "Registro de Medidas PU Extruder";
}



@if (TempData["Mensaje"] != null)
{
    var tipo = TempData["TipoMensaje"]?.ToString() ?? "info";
    <div class="alert alert-@tipo alert-dismissible fade show" role="alert">
        @TempData["Mensaje"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}


<form asp-action="Crear" method="post" class="form-animado">

    <div class="container  mt-3 shadow-lg p-4 mb-5 bg-white rounded">
        <h2 class="titulo-con-linea">Registro de Medidas PU Extruder</h2>

            <div class="row" >
                <!-- Columna 1: DATOS GENERALES -->
                <div class="col-md-4">
                <h5 class="text-primary border-bottom pb-2 mb-3">DATOS GENERALES</h5>
                    <div class="mb-2">
                    <label asp-for="NRO_EMPLEADO"></label>
                    <select asp-for="NRO_EMPLEADO" asp-items="ViewBag.EmpleadoList" class="form-control" id="empleadoSelect">
                        <option value="">-- Selecciona Empleado --</option>
                    </select>
                    <span asp-validation-for="NRO_EMPLEADO" class="text-danger"></span>
                    </div>
                    <div class="mb-2">
                    <label asp-for="NOMBRE"></label>
                    <input asp-for="NOMBRE" class="form-control" id="nombreEmpleado"  readonly />
                    </div>
                <div class="mb-2">
                    <label asp-for="TURNO"></label>
                    <select asp-for="TURNO" asp-items="ViewBag.ShiftList" class="form-control">
                        <option value="">-- Selecciona Turno --</option>
                    </select>
                </div>
                <div class="mb-2">
                    <label asp-for="EXTRUDER"></label>
                    <select asp-for="EXTRUDER" asp-items="ViewBag.ExtruderList" class="form-control">
                        <option value="">-- Selecciona Extruder --</option>
                    </select>
                </div>
                    <div class="mb-2">
                        <label asp-for="FAMILIA"></label>
                    <select asp-for="FAMILIA" asp-items="ViewBag.FamiliaList" class="form-control">
                    <option value="">-- Selecciona Familia --</option>
                    </select>
                    </div>
                    <div class="mb-2">
                        <label asp-for="MANDRIL"></label>
                    <Select asp-for="MANDRIL" asp-items="ViewBag.MandrilList" class="form-control">
                    <option value="">-- Selecciona Mandril --</option>
                    </select>
                    </div>
                    
                </div>

                <!-- Columna 2: DATOS PRIMERA PIEZA -->
            <div class="col-md-4">
                <h5 class="text-primary border-bottom pb-2 mb-3">PRIMERA PIEZA</h5>
                    <div class="mb-2"><label asp-for="ID_A"></label><input asp-for="ID_A" class="form-control" /></div>
                    <div class="mb-2"><label asp-for="LONGITUD_A"></label><input asp-for="LONGITUD_A" class="form-control" /></div>
                    <div class="mb-2"><label asp-for="PARED12_A"></label><input asp-for="PARED12_A" class="form-control" /></div>
                    <div class="mb-2"><label asp-for="PARED3_A"></label><input asp-for="PARED3_A" class="form-control" /></div>
                    <div class="mb-2"><label asp-for="PARED6_A"></label><input asp-for="PARED6_A" class="form-control" /></div>
                    <div class="mb-2"><label asp-for="PARED9_A"></label><input asp-for="PARED9_A" class="form-control" /></div>
                    <div class="mb-2"><label asp-for="PITCH_A"></label><input asp-for="PITCH_A" class="form-control" /></div>
                    <div class="mb-2"><label asp-for="PARED_INTERNA_A"></label><input asp-for="PARED_INTERNA_A" class="form-control" /></div>
                    <div class="mb-2"><label asp-for="PARED_EXTERNA_A"></label><input asp-for="PARED_EXTERNA_A" class="form-control" /></div>
                    <div class="mb-2"><label asp-for="LONGITUD_LEYENDA_A"></label><input asp-for="LONGITUD_LEYENDA_A" class="form-control" /></div>
                    <div class="mb-2"><label asp-for="GROSOR_LEYENDA_A"></label><input asp-for="GROSOR_LEYENDA_A" class="form-control" /></div>
                <div class="mb-2">
                    <label asp-for="LOGO_A"></label><select asp-for="LOGO_A" asp-items="ViewBag.LogoList" class="form-control">
                        <option value="">-- ¿Logo Correcto? --</option>
                    </select>
                </div>
                </div>
                <div class="col-md-4">
                <!-- Columna 3: DATOS ÚLTIMA PIEZA -->
                <h5 class="text-primary border-bottom pb-2 mb-3">ULTIMA PIEZA</h5>
                    <div class="mb-2"><label asp-for="ID_B"></label><input asp-for="ID_B" class="form-control" /></div>
                    <div class="mb-2"><label asp-for="LONGITUD_B"></label><input asp-for="LONGITUD_B" class="form-control" /></div>
                    <div class="mb-2"><label asp-for="PARED12_B"></label><input asp-for="PARED12_B" class="form-control" /></div>
                    <div class="mb-2"><label asp-for="PARED3_B"></label><input asp-for="PARED3_B" class="form-control" /></div>
                    <div class="mb-2"><label asp-for="PARED6_B"></label><input asp-for="PARED6_B" class="form-control" /></div>
                    <div class="mb-2"><label asp-for="PARED9_B"></label><input asp-for="PARED9_B" class="form-control" /></div>
                    <div class="mb-2"><label asp-for="PITCH_B"></label><input asp-for="PITCH_B" class="form-control" /></div>
                    <div class="mb-2"><label asp-for="PARED_INTERNA_B"></label><input asp-for="PARED_INTERNA_B" class="form-control" /></div>
                    <div class="mb-2"><label asp-for="PARED_EXTERNA_B"></label><input asp-for="PARED_EXTERNA_B" class="form-control" /></div>
                    <div class="mb-2"><label asp-for="LONGITUD_LEYENDA_B"></label><input asp-for="LONGITUD_LEYENDA_B" class="form-control" /></div>
                    <div class="mb-2"><label asp-for="GROSOR_LEYENDA_B"></label><input asp-for="GROSOR_LEYENDA_B" class="form-control" /></div>
                <div class="mb-2">
                    <label asp-for="LOGO_B"></label><select asp-for="LOGO_B" asp-items="ViewBag.LogoList" class="form-control">
                        <option value="">-- ¿Logo Correcto? --</option>
                    </select>
                </div>
                </div>
            </div>

            <!-- Comentarios y botones -->
            <div class="row mt-3">
                <div class="col-md-12">
                    <label asp-for="COMENTARIOS"></label>
                    <textarea asp-for="COMENTARIOS" class="form-control" rows="3"></textarea>
                </div>
            </div> 

            <div class="row mt-3">
                <div class="col-md-12 text-end">
                <button type="submit" class="btn btn-success px-4 me-2 shadow-sm">Guardar</button>
                <button type="reset" class="btn btn-secondary px-4 me-2">Limpiar</button>
                <a asp-action="Index" asp-controller="Home" class="btn btn-info px-4">Mostrar Registros</a>
                </div>
            </div>
    </div>
</form>

<!-- Script para copiar el nombre del empleado cuando se selecciona el numero del mismo -->
@section Scripts {
    <script>
        document.getElementById("empleadoSelect").addEventListener("change", function () {
            var id = this.value;
            if (id) {
                fetch(`/Inspeccion/ObtenerNombreEmpleado?id=${id}`)
                    .then(response => response.json())
                    .then(data => {
                        document.getElementById("nombreEmpleado").value = data.nombre;
                    });
            } else {
                document.getElementById("nombreEmpleado").value = "";
            }
        });
    </script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}