@model PUMASTER
@{
    ViewData["Title"] = "Imprimir";
}

<div class="container  mb-4 mt-3 p-4 border rounded shadow-sm bg-white">
    <h2 class="titulo-con-linea">Imprimir PU</h2>

    <form asp-controller="Home" class="form-animado" asp-action="GenerarExcel" method="post">
        <div class="row mb-3">
            <div class="col-md-3">
                <label for="fechaInicial" class="form-label">FECHA INICIAL:</label>
                <input type="date" id="fechaInicial" name="fechaInicial" class="form-control" required />
            </div>
            <div class="col-md-3">
                <label for="fechaFinal" class="form-label">FECHA FINAL:</label>
                <input type="date" id="fechaFinal" name="fechaFinal" class="form-control" required />
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-3">
                <label for="Extruder" class="form-label">EXTRUDER:</label>
                <select id="Extruder" name="EXTRUDER" asp-items="ViewBag.ExtruderList" class="form-select">
                    <option value="">-- Selecciona un extruder --</option>
                    @* Aquí puedes iterar tus opciones dinámicas *@
                </select>
            </div>
            <div class="col-md-3">
                <label for="familia" class="form-label">FAMILIA:</label>
                <select id="familia" name="familia" asp-items="ViewBag.FamiliaList" class="form-select">
                    <option value="">-- Selecciona una familia --</option>
                    @* Aquí puedes iterar tus opciones dinámicas *@
                </select>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-md-3">
                <label for="mandril" class="form-label">MANDRIL:</label>
                <select id="mandril" name="mandril" asp-items="ViewBag.MandrilList" class="form-select">
                    <option value="">-- Selecciona un mandril --</option>
                    @* Aquí puedes iterar tus opciones dinámicas *@
                </select>
            </div>
        </div>

        <div class="d-flex justify-content-center gap-3 mt-4">
            <button type="submit" class="btn btn-success px-4">IMPRIMIR REPORTE</button>
            <a asp-action="Index" class="btn btn-secondary px-4">CERRAR</a>
        </div>
    </form>
</div>


