@model IEnumerable<PUMASTER>

@{
    ViewData["Title"] = "Registro de PU electronico";
}

<h2 class="titulo-con-linea">Registros</h2>

<a asp-action="Crear" asp-controller="Inspeccion">➕ Nueva inspección</a>

@if (Model != null && Model.Any())
{

    <table class="table table-bordered form-animado">
        <thead>
            <tr>
                <th>Empleado</th>
                <th>Turno</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Extruder</th>
                <th>Proceso</th>
                <th>Id</th>
                <th>Longitud</th>
                <th>Pared12</th>
                <th>Pared3</th>
                <th>Pared6</th>
                <th>Pared9</th>
                <th>Pitch</th>
                <th>LongLeyenda</th>
                <th>GrosorLeyenda</th>
                <th>Logo</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td>@item?.NOMBRE (@item?.NRO_EMPLEADO)</td>
                    <td>@item?.TURNO</td>
                    <td>@item?.FECHA.ToShortDateString()</td>
                    <td>@item?.HORA</td>
                    <td>@item?.EXTRUDER</td>
                    <td>@item?.FAMILIA</td>
                    <td>@item?.ID_A</td>
                    <td>@item?.LONGITUD_A</td>
                    <td>@item?.PARED12_A</td>
                    <td>@item?.PARED3_A</td>
                    <td>@item?.PARED6_A</td>
                    <td>@item?.PARED9_A</td>
                    <td>@item?.PITCH_A</td>
                    <td>@item?.LONGITUD_LEYENDA_A</td>
                    <td>@item?.GROSOR_LEYENDA_A</td>
                    <td>@item?.LOGO_A</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No hay inspecciones registradas.</p>
}
