html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.titulo-con-linea {
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 3px solid #000000;
    font-weight: bold;
    opacity: 0;
    transform: translateY(-10px);
    animation: fadeInDown 0.6s ease-out forwards;
}

@keyframes fadeInDown {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.form-animado {
    transform: translateY(-10px);
    animation: fadeInDown 0.6s ease-out forwards;
}


html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #EEEEEE;
}